<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950714050129-pk13ulpr3ocgtuvi2gl8pq39cg38k9t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950714050129-pk13ulpr3ocgtuvi2gl8pq39cg38k9t5</string>
	<key>API_KEY</key>
	<string>AIzaSyB5bbjbdti87raTXPzkQRt0oEzzvg3zj7w</string>
	<key>GCM_SENDER_ID</key>
	<string>950714050129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cicd.explorefastlane</string>
	<key>PROJECT_ID</key>
	<string>explore-fastlane</string>
	<key>STORAGE_BUCKET</key>
	<string>explore-fastlane.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950714050129:ios:bd868cd833dbea51853a70</string>
</dict>
</plist>